* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0a192f;
  --secondary-color: #112240;
  --text-color: #ccd6f6;
  --accent-color: #64ffda;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

header {
  width: 70%;
  margin: 0 auto;
}

#contact-info {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

hr {
  color: var(--text-color);
  width: 100%;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

#side-image {
  position: relative;
}

#side-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center 75%;
  position: absolute;
  right: 0;
  top: -13rem;
  border-radius: 50%;
  border: 0.5px solid gray;
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
}

#summary {
  letter-spacing: 0.05rem;
}
