* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

header {
  width: 70%;
  margin: 0 auto;
}

#contact-info {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}

main {
  width: 70%;
  margin: 0 auto;
}
